# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.pyc

# IDE
.idea/
.vscode/

# Output Files
output/
layer2/output/
layer3/output/
layer4/output/

# Logs
*.log

*.xlsx



desktop.ini
*.zip
.env



models/
*.pt

layer4/reasoning/llm_reasoner.py
layer4/utils/llm_client.py
layer4/utils/schema_validator.py
layer4/knowledge/llm_prompts.json











































